In [117]:
# Import Dependencies
import pandas as pd
import numpy as np

In [118]:
# https://gml.noaa.gov/ccgg/trends/data.html
# Mauna Loa CO2 annual mean data( text) or (CSV)
# CO2 data from 1959 to 2015

file = "CO2_DataSet_1.csv"

# Read the  csv and store into Pandas DataFrame
co2_df = pd.read_csv(file, encoding="utf-8")
# co2_df

In [119]:
co2_clean_df = co2_df.iloc[:,[0,1]]
co2_clean_df = co2_clean_df.rename(columns={"year":"Year","mean":"CO2(ppm)"})
# co2_clean_df

In [120]:
co2_clean_df.dropna(subset = ['Year'], inplace=True)
# co2_clean_df

In [121]:
# Show data types for all columns 
# co2_clean_df.dtypes

co2_clean_df['Year'] = co2_clean_df.loc[:,'Year'].astype(int)
# co2_clean_df.info()
# co2_clean_df

In [130]:
# https://www.ncei.noaa.gov/access/paleo-search/?dataTypeId=7
# CO2 concentration from ice core samples
# CO2 data from 1000 to 2004

file = "smoothedco2.csv"

# Read the  csv and store into Pandas DataFrame
ice_co2_df = pd.read_csv(file, encoding="utf-8")
# ice_co2_df

In [129]:
ice_co2_clean_df = ice_co2_df.iloc[:,[0,1]]
ice_co2_clean_df = ice_co2_clean_df.rename(columns={"ALL_50_full":"CO2(ppm)"})
# ice_co2_clean_df

In [128]:
# Show data types for all columns 
# ice_co2_clean_df.dtypes

In [127]:
co2_merge = pd.merge(co2_clean_df,ice_co2_clean_df,how='outer',on='Year')
co2_merge = co2_merge.sort_values(by=["Year"])

co2_merge.reset_index(inplace=True) # data1.reset_index(inplace=True)
co2_merge = co2_merge.iloc[:,[1,2,3]]

# co2_merge

In [126]:
# Average CO2 Values when 2 values exist for a given year
co2_merge["CO2(ppm)"] = co2_merge[['CO2(ppm)_x', 'CO2(ppm)_y']].mean(axis=1)
co2_merge = co2_merge.iloc[:,[0,3]]
co2_merge

      Year  CO2(ppm)
0     1000    278.66
1     1001    278.68
2     1002    278.69
3     1003    278.71
4     1004    278.72
...    ...       ...
1016  2016    404.41
1017  2017    406.76
1018  2018    408.72
1019  2019    411.66
1020  2020    414.24

[1021 rows x 2 columns]

In [158]:
# https://www.kaggle.com/berkeleyearth/climate-change-earth-surface-temperature-data
# Global Ave Temp data from 1750 to 2004

file = "GlobalTemperatures.csv"

# Read the  csv and store into Pandas DataFrame
temp_df = pd.read_csv(file, encoding="utf-8")
temp_df

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3187,2015-08-01,14.755,0.072,20.699,0.110,9.005,0.170,17.589,0.057
3188,2015-09-01,12.999,0.079,18.845,0.088,7.199,0.229,17.049,0.058
3189,2015-10-01,10.801,0.102,16.450,0.059,5.232,0.115,16.290,0.062
3190,2015-11-01,7.433,0.119,12.892,0.093,2.157,0.106,15.252,0.063
3191,2015-12-01,5.518,0.100,10.725,0.154,0.287,0.099,14.774,0.062

In [161]:
temp_df['Year'] = temp_df['dt'].str[:4]
temp_df = temp_df.rename(columns={"LandAverageTemperature":"Temp"})
# temp_df
temp_df = temp_df.loc[:,["Year","Temp"]]
temp_df

      Year    Temp
0     1750   3.034
1     1750   3.083
2     1750   5.626
3     1750   8.490
4     1750  11.573
...    ...     ...
3187  2015  14.755
3188  2015  12.999
3189  2015  10.801
3190  2015   7.433
3191  2015   5.518

[3192 rows x 2 columns]

In [165]:
# Dataset is monthly (note I stripped the months and only left the year).  
# Average Temp by year
annual_temp=temp_df.groupby('Year').mean()
annual_temp

          Temp
Year
1750  8.719364
1751  7.976143
1752  5.779833
1753  8.388083
1754  8.469333
...        ...
2011  9.516000
2012  9.507333
2013  9.606500
2014  9.570667
2015  9.831000

[266 rows x 1 columns]